* {
  box-sizing: border-box;
}

:root {
  --primary-color: #143c3c;
  --secondary-color: #e2eddf;
  --title-color: #152427;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Public Sans", sans-serif;
}

/* common  */

.container {
  width: 1140px;
  max-width: calc(100% - 260px);
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: currentColor;
}

a.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 173px;
  height: 57px;
  border-radius: 40px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.55em; /* 155.556% */
}

.h1-title {
  color: var(--title-color);
  /* Heading/H2 50px Extra bold */
  font-family: "Public Sans";
  font-size: 5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.2em; /* 120% */
}

.h2-title {
  color: var(--title-color);
  /* Heading/H3 42px bold */
  font-family: Poppins;
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.24em; /* 123.81% */
}

.sub-title {
  display: flex;
  align-items: center;
  color: var(--title-color);
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.62em; /* 162.5% */
}

.sub-title::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 1px;
  background-color: var(--title-color);
  margin-right: 21px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-1 {
  --line-clamp: 1;
}

.line-3 {
  --line-clamp: 3;
}

.word-break-all {
  word-break: break-all;
}

/* header  */

header.header {
  padding: 28px 0 13px 0;
  position: relative;
}

header.header::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    #fff 0%,
    #dddcdc 51.09%,
    rgba(212, 212, 212, 0) 99.68%
  );
  position: absolute;
  bottom: 0px;
}

header.sticky {
  background-color: #fff;
  position: sticky;
  top: -15px;
  z-index: 99;
}

.header__content {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-left: auto;
  margin-right: 69px;
}

.header__nav ul {
  display: flex;
}

.header__nav-item {
  color: #575d5e;
  /* Paragraph/h2 18px medium */
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.55em; /* 155.556% */
}

.header__nav-item.active {
  position: relative;
  color: var(--title-color);
}

.header__nav-item.active::after {
  position: absolute;
  left: 20px;
  bottom: -17px;
  z-index: 1;
  content: "";
  display: block;
  width: 16px;
  height: 2px;
  background-color: #143c3c;
}

.header__nav-link {
  padding: 10px 19px;
}

/* hero  */

.hero {
  height: 100vh;
  padding-top: 60px;
}

.hero__content {
  display: flex;
}

/* info  */
.hero__info {
  width: 41%;
}

.hero__title {
  margin-top: 43px;
  width: 79%;
}

.hero__desc {
  margin-top: 20px;
  width: 73%;
  color: #575d5e;
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.56em; /* 155.556% */
}

.hero__watch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__watch-play {
  margin-left: -22px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #83a17d;
  border-radius: 50%;
  flex-shrink: 0;
}

.hero__watch-text {
  margin-left: 15px;
  color: #152427;
  font-family: Poppins;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.67em; /* 166.667% */
}

.hero__cta {
  margin-top: 42px;
  display: flex;
  align-items: center;
  column-gap: 36px;
}

.hero__img {
  display: inline-block;
  width: 202px;
  height: 466px;
  border-radius: 110px;
  object-fit: cover;
}

/* illustration  */

.hero__illus {
  position: relative;
}

.hero__bgblur {
  position: absolute;
  transform: translate(50%, 50%);
  z-index: -1;
  width: 340px;
  height: 340px;
  background: #4dbb9a;
  border-radius: 50%;
  filter: blur(137px);
}

.hero__decor {
  position: absolute;
  top: -32px;
  right: 0;
}

.hero__picture {
  display: flex;
  gap: 20px;
}

.hero__img:nth-child(2) {
  margin-top: 77px;
}

/* cooperate  */
.cooperate {
  padding-top: 42px;
  padding-bottom: 106px;
}

.cooperate__content {
  padding: 0 122px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 201px;
  background-color: #e2eddf;
  border-radius: 100px;
}

/* service  */
.service__h2-title {
  margin-top: 12px;
  width: 46%;
}
.service__h2-title::after {
  content: "";
  display: inline-block;
  width: 66px;
  height: 2px;
  background-color: var(--title-color);
  transform: translate(6px, -10px);
}

.service__row {
  display: flex;
  justify-content: space-between;
}

.service__arrow {
  display: flex;
  column-gap: 17px;
  margin-top: 52px;
}
.service__arrow-left,
.service__arrow-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  background-color: #e2eddf;
  border-radius: 50%;
  color: var(--title-color);
}

.service__arrow-left:hover,
.service__arrow-right:hover {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

.service__content {
  margin-top: 76px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
}

.service__text-title {
  padding-top: 24px;
  color: var(--title-color);
  font-family: Poppins;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2em; /* 100% */
}

.service__text-desc {
  margin-top: 13px;
  width: 77%;
  color: #7d8188;
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.71em; /* 171.429% */
}

.service__info {
  width: 370px;
  height: 159px;
  border-radius: 0 0 20px 20px;
  background-color: #fff;
  transition: 0.25s;
}

.service__item:hover .service__info {
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
  padding-left: 18px;
}

.service__img {
  display: block;
  width: 370px;
  height: 318px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
